body, html {
    /* background-image: url(../public/AIMainImage.webp); */
    /* background-color: black; */
    background: rgb(135,135,135);
    background: linear-gradient(100deg, rgba(135,135,135,1) 0%, rgba(199,199,212,1) 9%, rgba(135,135,135,1) 25%, rgba(91,91,91,1) 74%, rgba(97,97,99,1) 77%, rgba(0,0,0,1) 93%);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100dvh; */
    width: 100dvw;
}

* {
    box-sizing: border-box;
}