.center-container {
    width: 65%;
}

.main-container {
    max-width: 700px;
    margin:0 auto;
}

.white-opaciity-box {   
    background-color: black;
    opacity: 0.4;
    border-radius: 20px;
    text-align: center;
    margin-top: 40px;
    max-width: 700px;
    min-height: 200px;
}

h3, input {
    color: white;
}